
/*The colors at the top of the page*/

body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: whitesmoke;
}
.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
}
.red {
    background-color: #C0262C;
    height: 200px;
    width: 20%;
}

.orange {
    background-color: #F17341;
    height: 200px;
    width: 20%;
}

.yellow {
    background-color: #FBB542;
    height: 200px;
    width: 20%;
}
.blue {
    background-color: #107877;
    height: 200px;
    width: 20%;
}

.purple {
    background-color: #7F1839;
    height: 200px;
    width: 20%;
}

/*The name at the top of the page*/

.topOfPage {
    max-height: 200px;

}

.Tuttle {
   position: absolute;
   margin-left: 20px;
   height: 250px;
   width: 250px;
}

h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 100px;
    color: white;
    /*margin-left: 158px;*/
    margin-top: -10px;
    margin-left: 360px;  
}

/*The headings above the sections*/

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:  #107877;
    font-size: 
}

/*Setting the text for the page*/

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: #7F1839;
    margin-right: -35px;
    /* text-align: right; */
}

/* Setting the margins for the whole page*/

container {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    
}

.firstSection {
    /* width: 100%; */
    height: 500px;
    /* margin-top: 100px;
    text-align: center; */
}

.secondSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    
}

.projects1 {
    width: 50%;
}

.firstSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 30%; 
}

.project {
    width: 30%;
    
}

.one {
    width: 48%;
}

.two {
    width: 48%;
}
.PieChart {
    height: 300px;
    width: 300px;
    margin-left: 120px;
    /* margin-top: 50px; */
}
/* 
.one {
    max-width: 50%;
    display: inline-block;
    margin: 20px;
}

.two {
    max-width: 50%;
    display: inline-block;
    margin-left: 40px;
   
} */

nav {
    position: absolute;
    margin-top: 60px;
    width: 20%;
    background-color: #107877;
    color: lightyellow;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    

}


